body {
    background: linear-gradient(to bottom, #ffc6dd, #c6b6f6, #afd0ed);
    color: #ffffff;
    font-family: Poppins, sans-serif;
}

h1, h2, h3 {
    color: rgb(255, 255, 255);
    font-family: "Poppins", cursive;
    font-style: italic;
    text-align: center;
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}
nav {
    border: 3px solid rgb(90, 30, 196);
    padding: 15px;
    text-align: center;
}
#Members {
    color: rgb(151, 4, 77);
    text-align: left;
}
.album-cover {
    width: 250px;
    height: auto;
}